/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color:#0084fd;
    --first-color-light: #b5ddff;
    --second-color: #9792e4;
}
/* RESET */

/* COMMON */
.container {
    margin: 0 auto;
    padding: 1.25rem 1.875rem;
}
.flex {
    display: flex;
}
.logo {
    max-width: 5rem;
}
.logo img {
    size: 100%;
}
.justify-pb {
    display: flex;
    justify-content: space-between;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* COMMON */
/* HEADER */
header {
    background-color: var(--first-color);
}
header li, header i {
    color: white;
}
i {
    font-size: 1.5625rem;
}
.nav {
    align-items: center;
}
.menu {
    list-style: none;
    display: none;
}
.button {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: .625rem 1.25rem;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1440px;
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 1.875rem;
    }
    .hamburger {
        display: none;
    }
    header .container {
        
    }
}
/* HEADER */

/* MAIN */
/* Container blue */
/* defaulf */
/* defaulf */

#blue div {
    
}
.big-box-blue {
    background-color: var(--first-color-light);
    padding: 0 1.875rem;
    padding-top: 1.875rem;
    height: 37.5rem;
    width: 100%;
    border-radius: 20px;
}

.box-blue {
    text-align: center;
    background-color: var(--first-color-light);
    width: 100%;
    height: 22.5rem;
    border-radius: 20px;
}
#blue .wrap {
    gap: 1.5625rem;
}
@media screen and (min-width: 768px) {
    .big-box-blue {
        height: 22.5rem;
        width: calc((100% /3)*2 - 1.5625rem);
    }
    .box-blue {
        width: calc(100%/3 - 1.5625rem);
        height: 21.25rem; /* default */
    }
}
@media screen and (min-width: 992px) {
    #blue div {
        max-width: 1440px;
    }
    
    .big-box-blue {
        width: calc((100% /3)*2 - 1.5625rem);
        height: 21.25rem;
    }
    .box-blue {
        width: calc(100%/3 - 1.5625rem);
        height: 21.25rem;
    }
}

/* Container blue */
/* MAIN */

/* FOOTER */
/* FOOTER */