/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color:#0084fd;
    --first-color-light: #b5ddff;
    --second-color: #9792e4;
}
/* RESET */

/* COMMON */
.container {
    padding: 1.25rem 1.875rem;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.logo {
    max-width: 5rem;
}
.logo img {
    size: 100%;
}
.justify-pb {
    display: flex;
    justify-content: space-between;
}

/* COMMON */
/* HEADER */
header {
    background-color: var(--first-color);
}
header li, header i {
    color: white;
}
i {
    font-size: 1.5625rem;
}
.nav {
    align-items: center;
}
.menu {
    list-style: none;
    display: none;
}
.button {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: .625rem 1.25rem;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1440px;
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 1.875rem;
    }
    .hamburger {
        display: none;
    }
}
/* HEADER */